body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

.content{
    background: #FFF;
}

.block{
    font-size: 14px;

    .title{
        color: #1e1e1e;
        height: 61px;
        line-height: 61px;
        text-align: center;
    }
}


.blockContent ul li{
    overflow: hidden;
    width: 100%;

    li{
        list-style: none;
        float: left;
        width:20%;
        height: 65px;
        background: #CCC;
        margin-right: 45px;
    }

}


.weui_switch{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    appearance: none;
    position: relative;
    width: 52px;
    height:30px;
    border: 1px solid #DFDFDF;
    outline: 0;
    border-radius: 16px;
    box-sizing: border-box;
    background: #DFDFDF;
    &:before{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 30px;
        border-radius: 15px;
        background-color: yellow;
        transition:transform .2s;
    }
    &:after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width:30px;
        height: 30px;
        border-radius: 15px;
        background-color: red;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        transition:transform .2s;
    }

    &:checked{
        border-color: #04BE02;
        background-color: black;
        &:before{
            transform: scale(0);
        }
        &:after{
            transform: translateX(20px);
        }
    }
}


